.landing {
    @extend .unselectable;
    font-family: 'jetbrainsmono';
    margin-top: 4rem;
    line-height: 7rem;
    letter-spacing: 0.2rem;
    text-align: center;

    // font-size: 2rem;
    color: var(--color-title);
    margin-bottom: 2rem;
    letter-spacing: 5px;
    svg {
	height: 2rem + 0.5rem;
	width: 2rem + 0.5rem;
	margin: 0;
    }
}

.lottie-landing {
    margin: -8rem auto -2rem auto;
    width: 100%;
}

@media only screen and (max-width: 700px) {
    .lottie-landing {
        margin: -2rem auto 0 auto;
    }
}


.wave {
    -webkit-animation-name: wave-animation;
    animation-name: wave-animation;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}
