.docker-svg {
    transform: scale(0.3);
}
.git-svg {
    transform: scale(0.2);
}
.javascript-svg {
    transform: scale(0.15);
}
.jquery-svg {
    transform: scale(0.3);
}
.linux-svg {
    transform: scale(0.15);
}
.node-svg {
    transform: scale(0.2);
}
.react-svg {
    transform: scale(0.3);
}
.rust-svg {
    transform: scale(0.5);
}
.typescript-svg {
    transform: scale(0.15);
}
.webassembly-svg {
    transform: scale(0.13);
}
